.description-head {
  text-align: center;
  color: rgb(69, 68, 68);
}

.periodictable {display:grid; grid-template-columns:repeat(18,1fr); gap:3px}

.table-part{
      background:var(--card);
      border:1px solid var(--line);
      border-radius:14px;
      padding:16px;
      box-shadow:0 2px 0 rgba(0,0,0,.05);
    }
.cell{
      width:60px;
      height:60px;
      background:var(--cell);
      border:1px solid var(--line);
      border-radius:8px;
}

.home-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.9rem 2rem;
  z-index: 2000;
  font-family: "EB Garamond", serif;
  background-color: transparent;
  color: #282626;
}

.home-nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #282626;
}

.description-p1, .description-p2 {
  align-items: center;
  color: #3c352e;
  width: 90%;
  margin: 20px auto;
  padding: 0px 15px;
  gap: 20px;
  text-align: center;
}

.home-footer {
  width: 100%;
  padding: 2.4rem 2rem;
  border-top: 1px solid rgba(110, 70, 150, 0.3);
  margin-top: auto;
  position: relative;
  z-index: 20;
  background-color: transparent;
  color:#3c352e
}